.jumbotron {
    margin-bottom: 0px;
    background-image: url(./images/storyline-logo.png);
    background-position: 0% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 255px;
}

.blurb {
    color: rgb(107, 42, 56);
    font-size: 1.2em;
    margin-top: 15px;
    text-align: center;
}

.headlines {
    margin-top: 20px;
}

.headlines img {
    width: 288px;
}
