.jumbotron {
    margin-bottom: 0px;
    background-image: url(./img/storyline-logo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}