{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div class="row">
        <p class="blurb col-md-12">StoryLine News is a startup aggregate news source that offers credible content and visual context to the internet news buzz. StoryLine got our start as part of the <a href="http://www.startupblacksburg.com/">Startup Blacksburg Weekend</a>. You can help us beat the 24-hour news cycle by <a href="https://www.surveymonkey.com/s/PDBMMJV">filling out this survey</a>!</p>
      </div>
    </div>

    <div class="headlines container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <p><a href="/ebola"><img src="static/images/home/Ebolaa.jpg"></a></p>
          <h4><a href="/ebola">Ebola</a></h4>
          <p>Track the Ebola scare from the first outbreak to the present time</p>
        </div>
        <div class="col-md-4">
          <p><a href="/iphone6"><img src="static/images/home/iphone6.jpg"></a></p>
          <h4><a href="/iphone6">iPhone 6 Bendgate</a></h4>
          <p>Does it bend or not? What's the latest news?</p>
        </div>
        <div class="col-md-4">
          <p><a href="/hk"><img src="static/images/home/Hong-konga.jpg"></a></p>
          <h4><a href="/hk">Hong Kong Protests</a></h4>
          <p>When did the protests start? What are the key events?</p>
        </div>
      </div>
    </div> <!-- /container -->

{% endblock %}
